{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="flex-container-loginButton">
        <form action="/changepassword" method="post">
            <div>
                <input autocomplete="off" autofocus id="oldpassword" name="oldpassword" placeholder="Old password" type="password">
            </div>
            <div>
                <input id="newpassword" name="newpassword" placeholder="New password" type="password">
            </div>
            <div>
                <input id="confirmation" name="confirmation" placeholder="Repeat new password" type="password">
            </div>
            <div class="buttons">
                <button class="buttonLogin" type="submit">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}
