{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="flex-container-login">
        <div class="text">
            <h3 class="fontInconsolataTitle">Stress Meter</h3>
            <h8 class= "fontInconsolata200">Keep track of your stress level
            <br> and discover the connection between
            <br> stress and the tension in your
            <br> pelvic floor muscles</h8>
        </div>
        <div>
            <h8 class="fontInconsolata200">Afbeelding die ik nog van rem moet krijgen
            <br> van voorbeeld stressmeter</h8>
        </div>
    <div class="felx-container-steppers">
        <span class="material-symbols-outlined">
        steppers
        </span>
    </div>
{% endblock %}
