{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="flex-container-login">
        <div>
            <image src="#" alt="naam Afbeelding" width="600" height="400"></image>
        </div>
        <div>
            <h3 class="fontInconsolataTitle">Balance your pelvic floor muscles</h3>
            <h8 class="fontInconsolata200">Discover your personal way to relax your pelvic floor muscles <br> and find balance in your mental well-being.</h8>
        </div>
    </div>
{% endblock %}
