{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="flex-container-login">
        <div>
            <h3 class="fontInconsolataTitle">Pelvis!</h3>
            <h8 class="fontInconsolata200">Stay up to date on new research <br> about pelvic floor muscle tension <br> and track your progress</h8>
        </div>
        <div class="flex-container-loginButton">
            <form action="/login" method="post">
                <div>
                    <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <input id="password" name="password" placeholder="Password" type="password">
                </div>
                <div class="buttons">
                    <button class="buttonLogin" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="flexbox-container-space">

    </div>
    <div class="flex-container-link">
        <div>
            <li><a class="other-link" href="/register">Register</a></li>
        </div>
        <div>
            <li><a class="current-link" href="/login">Login</a></li>
        </div>
    </div>
    <div>
        <div></div>
        <div class="flexbox-currentlink-right"></div>
    </div>

{% endblock %}
