{% extends "layout.html" %}

{% block title %}
    Specialists
{% endblock %}

{% block main %}
    <div class="flex-container-index">
        <div class="specialistsinfo-container">
            <h3 class="fontInconsolataTitle text">Contact a specialist</h3>
            <div class="text2">
                <h3 class="fontInconsolata200">
                    Currently, this page is not available. We are working diligently to create a platform where it will be possible to connect with qualified specialists. Through this avenue, we aim to provide a safe and accessible means to discuss everything related to problematic pelvic floor muscle tension in a welcoming manner.</h3>
            </div>
        </div>
    </div>
{% endblock %}
